@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Online Shop</h1>
    <p>Look more about Product <a href="/home/Products">Products</a>:</p>
    <p>Look more about Categories <a href="/home/Categories">Categories</a>:</p>
</div>
